*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    padding: 2rem;
}

header a{
    font-size: 1.15rem;
    margin: 0 10px;
}

header select{
    padding: 0.75rem;
}

#body_login{
    background-color: #141314;
    color: #fcfcfc;
}

#main_login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#div_login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    padding: 0 15% 0 0;
    
}

#div_form_login{
    margin: 0 -100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#titulo_login{
    font-size: 54px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}

#img_login{
    margin: 0 0 0 0;
}

#label_login{
    font-size: 1.15rem;
}

.div_form_login_flex{
    margin: 0.5rem;
}

#btn_login{
    padding: 20px 34%;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.input_login{
    padding: 20px 50% 20px 1rem;
    border: solid #fcfcfc 2px;
    background-color: #141314;
    text-align: start;

    color: #fcfcfc;
}
.fundo{
    background-color: #f6f6f6;
}
.borda{
    border-radius: 10px;
}
.link{
    text-decoration: none;
}

.line_inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: Start;
    align-items: center;
}

.div_inputs_cad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    max-width: 40%;
}

.label_inputs_cad{
    font-size: 1.25rem;
    color: #141314;
}

.div_inputs_cad input{
    padding: 0.5rem 12rem;
    background: transparent;
    border: #141314 1px solid;
}

.div_inputs_cad select{
    padding: 0.5rem 7.5rem;
    background: transparent;
    border: #141314 1px solid;
    border-radius: 0;
    color: #141314;
}

.linha{
    border-bottom: #141314 1.5px solid;
    padding: 0 50%;
}

.texts_div_cad h2{
    color: rgb(117, 205, 255, 60%);
}

.texts_div_cad{
    margin-left: 1rem;
}

#botaoLabel{
    margin: 3rem 0 5rem 0;
    padding: 1rem 5rem;
    border: none;
    color: #f6f6f6;
    background-color: rgb(117, 205, 255, 60%);
    transition: 1s;
}

#botaoLabel:hover{
    background-color: rgb(117, 205, 255, 100%);
}

.section_div_cad{
    margin: 0 0 2rem 0;
}





.fundo{
    background-color: #f6f6f6;
}
.borda{
    border-radius: 10px;
}
.link{
    text-decoration: none;
    color: inherit;
}


.div_inputs_perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    max-width: 80%;
}

.label_inputs_perfil{
    font-size: 1.25rem;
    color: #141314;
}

.div_inputs_perfil label{
    font-size: 1.25rem;
}

.div_inputs_perfil input{
    padding: 0.5rem 20rem;
    background: transparent;
    border: #141314 1px solid;
}

.linha_perfil{
    padding: 1px 50%;
    border-bottom: #141314 1px solid;
}

.section_perfil{
    margin: 0 0 2rem 0;
}

.btn_perfil{
    padding: 1rem;
}


.line_btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div_btn_perfil button{
    background-color: #f6f6f6;
    color: #141314;
    border: #141314 1px solid;
    margin: 1rem;
    transition: 1s;
}

.div_btn_perfil button:hover{
    background-color: #141314;
    color: #f6f6f6;
    border: #141314 1px solid;
}


#btn_deletar{
    background-color: rgb(146, 75, 75);
    color: #f6f6f6;
    border: rgb(146, 75, 75) 1px solid;
    transition: 1s;
}


#btn_deletar:hover{
    background-color: rgb(197, 67, 67);
    border: rgb(197, 67, 67) 1px solid;
}

#btn_alterar{
    background-color: #f6f6f6;
    color:  rgb(75, 100, 146);
    border: rgb(75, 100, 146) 1px solid;
    transition: 1s;
}


#btn_alterar:hover{
    background-color: rgb(75, 100, 146);
    color: #f6f6f6;
    border: rgb(75, 100, 146) 1px solid;
}

.text_div_perfil{
    margin-left: 1rem;
}