#logout{
    background-color: rgb(201, 55, 55);
    border: none;
    color: white;
}
#logout:hover{
    background-color: rgb(160, 21, 21);
    cursor: pointer;
}

#login{
    font-size: 1.15rem;
    padding: 0.5rem;
    background-color: rgb(78, 167, 78);
    border: none;
    color: white;
}
#login:hover{
    background-color: rgb(20, 90, 20);
}


.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 1.15rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(34, 33, 33);
  min-width: 160px;
  z-index: 1;
}
.enderecosDropDown:hover{
  background-color: rgb(61, 59, 59);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-size: 0.90rem;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.adminSidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 10px;
  transition: 0.5s;
}

.adminSidebar a {
  padding: 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.adminSidebar a:hover {
  color: #f1f1f1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 90px;
    font-size: 36px;
    margin-right: 50px;
  }

  #div_div_btn_logout {
    position: relative;
  }

  #div_btn_logout {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .openbtn {
    font-size: 27px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 20px;
  }

  .password-screen {
    background-color: rgb(100, 98, 98);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 9999;
}

.accordion {
  background-color: #181822;
  color: #f6f6f6;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #262630;
}

.panel {
  padding: 0 18px;
  background-color: #181822;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.logoCentralisada{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_inputs_cad_right{
  align-items: end;
}
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }