*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    padding: 2rem;
}

header a{
    font-size: 1.15rem;
    margin: 0 10px;
    color: #f6f6f6;
    text-decoration: none;
}

header select{
    padding: 0.75rem;
}

#body_login{
    background-color: #141314;
    color: #fcfcfc;
    overflow: hidden;
}

#main_login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div_login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 0 0 0;
    
}

#div_form_login{
    margin: 0 50%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_form_login_flex_links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#img_login_div{
    max-width: 54%;
}

#titulo_login{
    font-size: 54px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}

#img_login{
    margin: 0;
    width: 100%;
}

#label_login{
    font-size: 1rem;
}

.div_form_login_flex{
    margin: 0.5rem;
}

#btn_login{
    padding: 5px 10rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.input_login{
    padding: 0.5rem 10rem 0.5rem 1rem;
    border: solid #fcfcfc 2px;
    background-color: #141314;
    text-align: start;

    color: #fcfcfc;
}



#body_Es{
    background-color: #141314;
    color: #fcfcfc;
    overflow: hidden;
}

#main_Es{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div_Es{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 0 0 0;
}

#div_form_Es{
    margin: 0 75%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_form_Es_flex_links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#img_Es_div{
    max-width: 54%;
}

#titulo_Es{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    text-align: center;
}

#img_Es{
    margin: 0;
    width: 54%;
}

#label_Es{
    font-size: 1rem;
}

.div_form_Es_flex{
    margin: 0.5rem;
}

#btn_Es{
    padding: 5px 5rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.input_Es{
    padding: 0.5rem 5rem 0.5rem 1rem;
    border: solid #fcfcfc 2px;
    background-color: #141314;
    text-align: start;

    color: #fcfcfc;
}





#body_RS{
    background-color: #141314;
    color: #fcfcfc;
    overflow: hidden;
}

#div_RS{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 0 0 0;
}

#div_form_RS{
    margin: 0 75%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.div_form_RS_flex_links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#img_RS_div{
    max-width: 54%;
}

#titulo_RS{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    text-align: center;
}

#img_RS{
    margin: 0;
    width: 54%;
}

#label_RS{
    font-size: 1rem;
}

.div_form_RS_flex{
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn_RS{
    padding: 5px 5rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.input_RS{
    padding: 0.5rem 5rem 0.5rem 1rem;
    border: solid #fcfcfc 2px;
    background-color: #141314;
    text-align: start;

    color: #fcfcfc;
}





/*
.fundo{
    background-color: #f6f6f6;
}
.borda{
    border-radius: 10px;
}
.link{
    text-decoration: none;
}

.line_inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: Start;
    align-items: center;
}

.div_inputs_cad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    max-width: 40%;
}

.label_inputs_cad{
    font-size: 1.25rem;
    color: #141314;
}

.div_inputs_cad input{
    padding: 0.5rem 25%;
    background: transparent;
    border: #141314 1px solid;
}

.div_inputs_cad select{
    padding: 0.5rem 7.5rem;
    background: transparent;
    border: #141314 1px solid;
    border-radius: 0;
    color: #141314;
}

.linha{
    border-bottom: #141314 1.5px solid;
    padding: 0 50%;
}

.texts_div_cad h2{
    color: rgb(117, 205, 255, 60%);
}

.texts_div_cad{
    margin-left: 1rem;
}

#botaoLabel{
    margin: 3rem 0 5rem 0;
    padding: 1rem 5rem;
    border: none;
    color: #f6f6f6;
    background-color: rgb(117, 205, 255, 60%);
    transition: 1s;
}

#botaoLabel:hover{
    background-color: rgb(117, 205, 255, 100%);
}

.section_div_cad{
    margin: 0 0 2rem 0;
}




.option_cad{
    color: #f6f6f6;    
}

.input_radio{
    color: #f6f6f6;  
}
*/

.body_cad{
    background-color: #181822;
    color: #f6f6f6;
}

#fieldset_cad{
    max-width: 100%;
}
.div_inputs_cad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0.5rem 2rem;
    max-width: 60%;
}

.div_inputs_cad h5{
    font-size: 0.75rem;
    font-weight: bolder;
}

.label_inputs_cad{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f6f6f6;
    text-transform: uppercase;
}

.div_inputs_cad input{
    padding: 0.5rem 50% 0.5rem 1rem;
    background: transparent;
    border: #f6f6f6 1px solid;
    color: #f6f6f6;
}

.div_inputs_cad select{
    padding: 0.5rem 50% 0.5rem 1rem;
    background: transparent;
    border: #f6f6f6 1px solid;
    border-radius: 0;
    color: #f6f6f6;
}

.texts_div_cad{
    margin-left: 1rem;
}   

.section_div_cad{
    margin-top: 5%;
    padding-bottom: 3%;
    border-bottom: 1px solid #fcfcfc;
}
.select_cad{
    border-radius: none;
}

.select_cad option{
    color: #181822;
}
.checkbox_div div{
    margin-right: 5%;
}
.checkbox_div input{
    margin-right: 0.5rem;
}
.checkbox_div label{
    margin-right: 0.5rem;
}
#img_cad{
    width: 60%;
}

.main_cad{
    overflow: hidden;
}










.borda{
    border-radius: 10px;
}
.link{
    text-decoration: none;
}

.div_inputs_perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    max-width: 80%;
}

.label_inputs_perfil{
    font-size: 1.25rem;
    color: #141314;
}

.div_inputs_perfil label{
    font-size: 1.25rem;
}

.div_inputs_perfil input{
    padding: 0.5rem 20rem;
    background: transparent;
    border: #141314 1px solid;
}

.linha_perfil{
    padding: 1px 50%;
    border-bottom: #141314 1px solid;
}

.section_perfil{
    margin: 0 0 2rem 0;
}

.btn_perfil{
    padding: 1rem;
}


.line_btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div_btn_perfil button{
    background-color: #f6f6f6;
    color: #141314;
    border: #141314 1px solid;
    margin: 1rem;
    transition: 1s;
}

.div_btn_perfil button:hover{
    background-color: #141314;
    color: #f6f6f6;
    border: #141314 1px solid;
}


#btn_deletar{
    background-color: rgb(146, 75, 75);
    color: #f6f6f6;
    border: rgb(146, 75, 75) 1px solid;
    transition: 1s;
}


#btn_deletar:hover{
    background-color: rgb(197, 67, 67);
    border: rgb(197, 67, 67) 1px solid;
}

#btn_alterar{
    background-color: #f6f6f6;
    color:  rgb(75, 100, 146);
    border: rgb(75, 100, 146) 1px solid;
    transition: 1s;
}


#btn_alterar:hover{
    background-color: rgb(75, 100, 146);
    color: #f6f6f6;
    border: rgb(75, 100, 146) 1px solid;
}

.text_div_perfil{
    margin-left: 1rem;
}



#body_fundo{
    background-color: #181822;
    color: #f6f6f6;
}

#section_banner_home{
    background-image: url(../imagens/Maos_Home.png);
    background-size: 100%;
    background-repeat: no-repeat;   
}








.container-slider {
    display: flex;
    width: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
.container-imagens {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
  
.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  
.on {
    opacity: 1;
    position: relative  ;
  }
  
#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
  }
  
#prev-button {
    transform: rotate(180deg);
  }

#texto_refugio{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#firstpharagraph{
    font-size: 1.5rem;
    text-align: center;
  }

#firstitle{
    font-size: 3rem;
    text-align: center;
  }

#btn_index_learn_more{
    text-align: center;
}

#btn_index_learn_more{
    margin: 2rem;
    padding: 1.25rem 5rem;
    margin-bottom: 10rem;
}

#btn_index_learn_more_a{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: #141314;
}

.div_index_flex_1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #181822; 
}

.div_index_flex_2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
    background-color: #141314;
}

.img_div_flex_index{
   width: 100%;
}

.img_div_flex_index img{
    width: 100%;
}

.div_index_flex_text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: start;
    width: 60%;
    margin: 3rem;
}

.div_index_flex_text h2{
    font-size: 3rem;
}

.div_index_flex_text p{
    font-size: 1.25rem;
}

.div_index_num{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_index{
}


.link{
    text-decoration: none;
    color: inherit;
}


.div_inputs_perfil{
    display: flex;
    flex-wrap: wrap;
}

.h2_index_flex_2{
    text-align: end;
}

.div_index_num h2{
    font-size: 2rem;
}

.div_index_num h3{
    font-size: 5rem;
}








.div_meio{
    justify-content: center;
    text-align: center;
}

.input_radio{
    border-radius: 100%;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em; 
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

#senha{
    background: transparent;
    color: white;
    border: 2px solid #f6f6f6;
    border-radius: 3px;
    box-shadow: none;
}
#senha::placeholder{
    color: white;
    opacity: 1;
}

#postos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.list-group-item{
    width: 100%;
}

.card_postos{
    width: 30rem;
    height: 25rem;
    margin: 1rem;
}

#consulados{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.card_cons{
    width: 30rem;
    height: 25rem;
    margin: 1rem; 
}