#logout{
    background-color: rgb(201, 55, 55);
    border: none;
    color: white;
}
#logout:hover{
    background-color: rgb(160, 21, 21);
    cursor: pointer;
}

#login{
    font-size: 1.15rem;
    padding: 0.5rem;
    background-color: rgb(78, 167, 78);
    border: none;
    color: white;
}
#login:hover{
    background-color: rgb(20, 90, 20);
}

.enderecosTabelas{
  cursor: pointer;
  border-style:ridge
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 90px;
    font-size: 36px;
    margin-right: 50px;
  }

  #div_div_btn_logout {
    position: relative;
  }

  #div_btn_logout {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .openbtn {
    font-size: 27px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }